@model Exercice02.Models.Contact

<!DOCTYPE html>
<html>
<head>
    <title>Détails du Contact</title>
</head>
<body>
    <h1>Détails du Contact</h1>
    <p>Nom : @Model.Name</p>
    <p>Email : @Model.Email</p>
</body>
</html>
